# Plan Data prepocesing untuk mengerjakan project

**kriteria yang dibutuhkan:**

1. Kalori (Calories):
   Alasan: Menentukan asupan energi; makanan dengan kalori rendah sering diartikan lebih sehat terutama untuk pengendalian berat badan.

2. Lemak :
   Alasan: Lemak jenuh berhubungan dengan risiko kolesterol dan penyakit kardiovaskular.

3. Natrium (Sodium):
   Alasan: Natrium berlebih dapat meningkatkan tekanan darah dan risiko penyakit jantung.

4. Protein:
   Alasan: Protein penting untuk pembentukan otot, memberi rasa kenyang, dan mendukung metabolisme. Dengan asupan protein yang memadai, menu bisa dikategorikan lebih bernutrisi.

5. Kolestrol:
   Alasan: Kolesterol tinggi, terutama jika datang dari makanan, dapat meningkatkan risiko penyakit kardiovaskular.

**Menghapus data null**

**extract ke fastfood_clean.csv**

Import librabry

In [1]:
import pandas as pd
import numpy as np

Read Data

In [2]:
# Membaca file CSV
df = pd.read_csv('./dataset/fastfood.csv')
display(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515 entries, 0 to 514
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   restaurant   515 non-null    object
 1   item         515 non-null    object
 2   calories     515 non-null    int64
 3   cal_fat      515 non-null    int64
 4   total_fat    515 non-null    int64
 5   sat_fat      515 non-null    float64
 6   trans_fat    515 non-null    float64
 7   cholesterol  515 non-null    int64
 8   sodium       515 non-null    int64
 9   total_carb   515 non-null    int64
 10  fiber        503 non-null    float64
 11  sugar        515 non-null    int64
 12  protein      514 non-null    float64
 13  vit_a        301 non-null    float64
 14  vit_c        305 non-null    float64
 15  calcium      305 non-null    float64
 16  salad        515 non-null    object
dtypes: float64(7), int64(7), object(3)
memory usage: 68.5+ KB

None

seleksi kolom yang diperlukan & menghapus null

1. Kalori (Calories)
2. Lemak Jenuh (Saturated Fat / sat_fat)
3. Natrium (Sodium)
4. Protein

In [3]:
kolom_pilihan = ['restaurant','item','protein' ,'calories', 'total_fat' ,'sodium','cholesterol' ]
df_pil = df[kolom_pilihan]
df_pil.info()

# Menampilkan baris yang masih memiliki nilai null pada df_pil
display(df_pil[df_pil.isnull().any(axis=1)])

#menghapus baris yang memiliki nilai null
df_pil = df_pil.dropna()
df_pil.info()

display(df_pil)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515 entries, 0 to 514
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   restaurant   515 non-null    object
 1   item         515 non-null    object
 2   protein      514 non-null    float64
 3   calories     515 non-null    int64
 4   total_fat    515 non-null    int64
 5   sodium       515 non-null    int64
 6   cholesterol  515 non-null    int64
dtypes: float64(1), int64(4), object(2)
memory usage: 28.3+ KB

,restaurant,item,protein,calories,total_fat,sodium,cholesterol
205,Burger King,Farmhouse King,NaN,1220,80,2050,335

<class 'pandas.core.frame.DataFrame'>
Index: 514 entries, 0 to 514
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   restaurant   514 non-null    object
 1   item         514 non-null    object
 2   protein      514 non-null    float64
 3   calories     514 non-null    int64
 4   total_fat    514 non-null    int64
 5   sodium       514 non-null    int64
 6   cholesterol  514 non-null    int64
dtypes: float64(1), int64(4), object(2)
memory usage: 32.1+ KB

,restaurant,item,protein,calories,total_fat,sodium,cholesterol
0,Mcdonalds,Artisan Grilled Chicken Sandwich,37.0,380,7,1110,95
1,Mcdonalds,Single Bacon Smokehouse Burger,46.0,840,45,1580,130
2,Mcdonalds,Double Bacon Smokehouse Burger,70.0,1130,67,1920,220
3,Mcdonalds,Grilled Bacon Smokehouse Chicken Sandwich,55.0,750,31,1940,155
4,Mcdonalds,Crispy Bacon Smokehouse Chicken Sandwich,46.0,920,45,1980,120
...,...,...,...,...,...,...,...
510,Taco Bell,Spicy Triple Double Crunchwrap,23.0,780,38,1850,50
511,Taco Bell,Express Taco Salad w/ Chips,23.0,580,29,1270,60
512,Taco Bell,Fiesta Taco Salad-Beef,26.0,780,42,1340,60
513,Taco Bell,Fiesta Taco Salad-Chicken,32.0,720,35,1260,70
514,Taco Bell,Fiesta Taco Salad-Steak,28.0,720,36,1340,55

ubah ke excel atau csv

In [4]:
#mengexport ke file CSV
df_pil.to_csv('./dataset/fastfood_clean.csv', index=False)